<h2>Termine</h2>
<hr class = "small">
<br><br><br><br>
<section id = "newevent">
<%= simple_form_for @event do |f| %>
  <%= f.input :date, label: 'Wann ist der Termin?' %>
  <%= f.input :event, label: 'Was steht an?' %>
  <%= f.button :submit %>
<% end %>
</section>
<br><br><br><br>

<h3>Morgen:</h3>
<section>

<% @events.reverse.each do |event| %>
  <% if event.date == Date.today + 1 %>
    <div class = "event">
      <%= event.event %> <br>
      <%= event.date %> <br><br>
      <%= button_to "löschen", event, :method => "delete" %>
    </div>
  <% end %>
<% end %>
</section>

<h3>Heute:</h3>
<section>

<% @events.reverse.each do |event| %>
  <% if event.date == Date.today %>
    <div class = "event">
      <%= event.event %> <br>
      <%= event.date %> <br><br>
      <%= button_to "löschen", event, :method => "delete" %>
    </div>
  <% end %>
<% end %>


<div class = "buttonNew up">
  <a href = "#anchor" class = "material-icons">keyboard_arrow_down</a>
</div>
<div class = "buttonNew">
  <a href = "#newevent" class = "material-icons">add</a>
</div>
</section>

<br><br><br>
<h3>zukünftig:</h3>
<section>

<% @events.reverse.each do |event| %>
  <% if event.date > Date.today + 1 %>
    <div class = "event">
      <%= event.event %> <br>
      <%= event.date %> <br><br>
      <%= button_to "löschen", event, :method => "delete" %>
    </div>
  <% end %>
<% end %>

</section>

<br><br><br>
<h3>Archiv:</h3>
<section>

<% @events.reverse.each do |event| %>
  <% if event.date < Date.today %>
    <div class = "event">
      <%= event.event %> <br>
      <%= event.date %> <br><br>
      <%= button_to "löschen", event, :method => "delete" %>
    </div>
  <% end %>
<% end %>

</section>

<div id = "anchor"></div>
